<div class="news">
    <style type="text/css">
        td {
            padding: 20px;
        }
    </style>
    <h2>Groups I have collaborated with</h2>

      <div class="table-responsive" >
            <table>
                <tr>
                    <th><td width=33%><img src='assets/img/cornell.png'width=60%/></td></th>
                    <th><td width=33%><img src='assets/img/nitt.png'width=60%/></td></th>
                    <th><td width=33%><img src='assets/img/usc.png'width=60%/></td></th>
                </tr>

                <tr>
                    <th><td width=33%><img src='assets/img/a10networks.jpeg'width=60%/></td></th>
                    <th><td width=33%><img src='assets/img/iitgn.png'width=60%/></td></th>
                    <th><td width=33%><img src='assets/img/goldman.png'width=60%/></td></th>
                </tr>


          </table>
      </div>
  </div>